{% extends "layout.html" %} {% block content %}
    {% if 'Edit' in legend %}
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('month_plans.month_plan_table_test', month_plan_id=month_plan_id) }}">Back to all types</a>
    {% endif %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.name_of_type.label(class="form-control-label") }} {% if form.name_of_type.errors %} {{ form.name_of_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name_of_type.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.name_of_type(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.amount_choice.label(class="form-control-label") }} {% if form.amount_choice.errors %} {{ form.amount_choice(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.amount_choice.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.amount_choice(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.amount.label(class="form-control-label") }} {% if form.amount.errors %} {{ form.amount(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.amount.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.amount(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.is_everyday.label(class="form-control-label") }} {% if form.is_everyday.errors %} {{ form.is_everyday(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.is_everyday.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.is_everyday(class="form-control form-control-lg") }} {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}