{% extends "layout.html" %} {% block content %}
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('month_plans.month_plan_table_test', month_plan_id=month_plan_id) }}">
        Back to month plan
    </a>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('month_types.edit_month_type', month_plan_id=month_plan_id, month_type_id=month_type.id) }}">
                            Edit
                    </a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>
                </div>

            </div>
            <h2>
                <a class="article-title">
                    {{ month_type.name_of_type }}
                </a>
            </h2>
            <p class="article-content">
                {{ month_type.amount_in_percent }} % or {{ month_type.amount_in_money }} ₴
            </p>

        </div>
        <a>
            <small class="text-muted">
                {% if month_type.is_everyday %}
                    Spends everyday
                {% else %}
                    Spends once a month
                {% endif %}
            </small>
        </a>

    </article>
    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Purchase?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('month_types.delete_month_type', month_type_id=month_type.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}