{% extends "layout.html" %} {% block content %}
    <a class="nav-item nav-link" href="{{ url_for('show_all_months') }}">Back to all plans</a>
<article class="media content-section">
    <div class="media-body">
       <!--  <div class="article-metadata">
           <small class="text-muted">{{ month_plan.month.strftime('%Y-%m-%d') }}</small>
        </div>-->
        <h2 class="article-title">{{ month_plan.income }}</h2>
        <p class="article-content">{{ month_plan.money_for_day }}</p>
    </div>
    {% for type in month_plan.list_of_planned_spending %}
            <a>{{ type.name_of_type }}</a>
        {% endfor %}

</article>

{% endblock content %}