{% extends "layout.html" %} {% block content %}
    {% for  day in day_spending.items%}
        <h1>{{ day.day }}</h1>
        <p>{{ day.name_of_item }}</p>
        <p>{{ day.quantity }}</p>
        <p>{{ day.quantity_type }}</p>
        <p>{{ day.spending_amount }}</p>
    {% endfor %}


{% for page_num in day_spending.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if day_spending.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('spendings', page=page_num) }}">{{ page_num }}</a> {% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('spendings', page=page_num) }}">{{ page_num }}</a> {% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}