{% extends "layout.html" %}
{% block content %}

    {% for  day in day_spendings%}
        <h1>{{ day.date }}</h1>
        <p>{{ day.type }}</p>
        <p>{{ day.quantity }}</p>
        <p>{{ day.quantity_type }}</p>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{  day.date }}</a>
              <small class="text-muted">{{ day.type }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ day.quantity }}</a></h2>
            <p class="article-content">{{ day.quantity_type }}</p>
          </div>
        </article>

    {% endfor %}


{% endblock content%}