{% extends "layout.html" %} {% block content %}
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('month_plans.show_all_months') }}">
        Back to month plans
    </a>
<article class="media content-section" style="overflow: auto">
<div class="media-body">
    <!--<table>
        <tr>
            <td><p class="article-content" style="font-size: 1.4rem;">Start: {{ start_checkpoint }}</p></td>
            <td rowspan="2"><p class="article-content" style="font-size: 1.4rem;">Money: {{ prev_checkpoint }}</p></td>


        </tr>
        <tr>
            <td><p class="article-content" style="font-size: 1.4rem;">End: {{ next_checkpoint }}</p></td>

        </tr>
    </table>-->
<p class="article-content" style="font-size: 1.4rem;float:right;">Money: {{ prev_checkpoint }} ₴</p>
<p class="article-content" style="font-size: 1.4rem;float:left;">Start Date: {{ start_checkpoint }}   </p>
<p class="article-content" style="font-size: 1.4rem;clear:both;">End Date: {{ next_checkpoint }}</p>

<p>Click on a date</p>

<table class="table" >
    <thead>
    <tr class="table-info">
        <th scope="col" >Date</th>
        <th scope="col" class="one-line-table">Result</th>
        <th scope="col" class="one-line-table">Balance</th>
        <th scope="col" class="one-line-table">Savings</th>
    </tr>
    </thead>
    <tbody>
    {% for day in delta_flow_results %}
        <tr>
        <td class="one-line-table  ">
        <a class="article-title" href="{{ url_for('spendings.spendings_day', start_day=start_checkpoint, day=day ) }}">
            {{ day }}
        </a>
        </td>
        <td>{{ delta_flow_results[day]['day_result'] }} ₴</td>
        <td>{{ delta_flow_results[day]['dynamic_mid'] }} ₴</td>
        <td>{{ delta_flow_results[day]['static_delta_overall'] }} ₴</td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>


</article>

{% endblock content %}