{% extends "layout.html" %} {% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">
                Today: {{ today_date.strftime('%d.%m.%Y') }}
            </small>
            <div>
                <p class="align-content-start">
                    {{ mid_sum_delta }} ₴ - Saved today
                </p>
            </div>
        </div>
        <p class="article-content">
            {{ dynamic_mid }} ₴ - Money planned for today
            {{ day_sum }} ₴     - Today's result
        </p>
    </div>
    <div>
        <a class="btn btn-outline-primary btn-lg" href="{{ url_for('spendings.new_spending') }}">
            <small class="text-muted">
                Add purchase
            </small>
        </a>
    </div>
</article>
{% if not day_spending %}
    <article class="media content-section">
        No purchases yet
    </article>
{% endif %}
{% for day in  day_spending%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('spendings.edit_spending', spending_id=day.id) }}">
                            Edit
                    </a>

                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>
                </div>

            </div>
            <h2>
                <a class="article-title" href="{{ url_for('spendings.spending', spending_id=day.id) }}">
                    {{ day.name_of_item }}
                </a>
            </h2>
            <p class="article-content">
                {{ day.quantity }} {{ day.quantity_type }}
            </p>
        </div>
        <a>
            {{ day.spending_amount }} ₴
        </a>
    </article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Purchase?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('spendings.delete_spending', spending_id=day.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content%}